# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/belajarMembaca/MiniGameSusunSukuKata/buku.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/gurita.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/kereta.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/sepatu.jpg
src/assets/belajarMembaca/SubtemaGajah/gajah.mp3
src/assets/belajarMembaca/SubtemaGajah/icon_gajah.jpg
src/assets/belajarMembaca/SubtemaJerapah/audio_jerapah.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_jerapahMakanDaun.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_jerapahSedangTidur.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_leherJerapahPanjang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_da-un.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_je-ra-pah.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_le-her.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_ma-kan.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_pan-jang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_se-dang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_ti-dur.mp3
src/assets/belajarMembaca/SubtemaJerapah/gambar_jerapahTidur.jpg
src/assets/belajarMembaca/SubtemaJerapah/gambar_leherJerapah.jpg
src/assets/belajarMembaca/SubtemaJerapah/gambar_makanDaun.jpg
src/assets/belajarMembaca/SubtemaJerapah/icon_jerapah.jpg
src/assets/belajarMembaca/SubtemaKelinci/icon_kelinci.jpg
src/assets/belajarMembaca/SubtemaKucing/icon_kucing.jpg
src/assets/belajarMembaca/SubtemaMonyet/audio_monyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_hutanHabitatMonyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_monyetSedangMemanjat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_monyetSukaPisang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_ha-bi-tat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_hu-tan.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_me-man-jat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_mo-nyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_pi-sang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_se-dang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_su-ka.mp3
src/assets/belajarMembaca/SubtemaMonyet/gambar_hutan.jpg
src/assets/belajarMembaca/SubtemaMonyet/gambar_memanjat.jpg
src/assets/belajarMembaca/SubtemaMonyet/gambar_pisang.jpg
src/assets/belajarMembaca/SubtemaMonyet/icon_monyet.jpg
src/assets/belajarMembaca/SubtemaPanda/icon_panda.jpg
src/assets/belajarMembaca/SubtemaSapi/icon_sapi.jpg
src/assets/belajarMembaca/SubtemaSemut/icon_semut.jpg
src/assets/belajarMembaca/SubtemaSinga/icon_singa.jpg
src/assets/mengenalHuruf/audio_apel.mp3
src/assets/mengenalHuruf/audio_api.mp3
src/assets/mengenalHuruf/audio_awan.mp3
src/assets/mengenalHuruf/audio_ayam.mp3
src/assets/mengenalHuruf/audioHuruf_a.mp3
src/assets/mengenalHuruf/b.mp3
src/assets/mengenalHuruf/balon.jpg
src/assets/mengenalHuruf/balon.mp3
src/assets/mengenalHuruf/bayi.jpg
src/assets/mengenalHuruf/bayi.mp3
src/assets/mengenalHuruf/bunga.jpg
src/assets/mengenalHuruf/bunga.mp3
src/assets/mengenalHuruf/burung.jpg
src/assets/mengenalHuruf/burung.mp3
