# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/belajarMembaca/MiniGameSusunSukuKata/buku.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/gurita.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/kereta.jpg
src/assets/belajarMembaca/MiniGameSusunSukuKata/sepatu.jpg
src/assets/belajarMembaca/SubtemaGajah/gajah.mp3
src/assets/belajarMembaca/SubtemaGajah/icon_gajah.jpg
src/assets/belajarMembaca/SubtemaJerapah/audio_jerapah.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_jerapahMakanDaun.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_jerapahSedangTidur.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioKalimat_leherJerapahPanjang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_da-un.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_je-ra-pah.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_le-her.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_ma-kan.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_pan-jang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_se-dang.mp3
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_ti-dur.mp3
src/assets/belajarMembaca/SubtemaJerapah/gambar_jerapahTidur.jpg
src/assets/belajarMembaca/SubtemaJerapah/gambar_leherJerapah.jpg
src/assets/belajarMembaca/SubtemaJerapah/gambar_makanDaun.jpg
src/assets/belajarMembaca/SubtemaJerapah/icon_jerapah.jpg
src/assets/belajarMembaca/SubtemaKelinci/icon_kelinci.jpg
src/assets/belajarMembaca/SubtemaKucing/icon_kucing.jpg
src/assets/belajarMembaca/SubtemaMonyet/audio_monyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_hutanHabitatMonyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_monyetSedangMemanjat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioKalimat_monyetSukaPisang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_ha-bi-tat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_hu-tan.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_me-man-jat.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_mo-nyet.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_pi-sang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_se-dang.mp3
src/assets/belajarMembaca/SubtemaMonyet/audioSukuKata_su-ka.mp3
src/assets/belajarMembaca/SubtemaMonyet/gambar_hutan.jpg
src/assets/belajarMembaca/SubtemaMonyet/gambar_memanjat.jpg
src/assets/belajarMembaca/SubtemaMonyet/gambar_pisang.jpg
src/assets/belajarMembaca/SubtemaMonyet/icon_monyet.jpg
src/assets/belajarMembaca/SubtemaPanda/icon_panda.jpg
src/assets/belajarMembaca/SubtemaSapi/icon_sapi.jpg
src/assets/belajarMembaca/SubtemaSemut/icon_semut.jpg
src/assets/belajarMembaca/SubtemaSinga/icon_singa.jpg
src/assets/mengenalHuruf/audio_apel.mp3
src/assets/mengenalHuruf/audio_api.mp3
src/assets/mengenalHuruf/audio_awan.mp3
src/assets/mengenalHuruf/audio_ayam.mp3
src/assets/mengenalHuruf/audioHuruf_a.mp3
src/assets/mengenalHuruf/b.mp3
src/assets/mengenalHuruf/balon.jpg
src/assets/mengenalHuruf/balon.mp3
src/assets/mengenalHuruf/bayi.jpg
src/assets/mengenalHuruf/bayi.mp3
src/assets/mengenalHuruf/bunga.jpg
src/assets/mengenalHuruf/bunga.mp3
src/assets/mengenalHuruf/burung.jpg
src/assets/mengenalHuruf/burung.mp3
.env
src/assets/belajarMembaca/SubtemaGajah/gambar_gajahBesar.jpg
src/assets/belajarMembaca/SubtemaGajah/gambar_gajahKaki.jpg
src/assets/belajarMembaca/SubtemaGajah/gambar_gajahTelinga.jpg
src/assets/belajarMembaca/SubtemaJerapah/audioSukuKata_se-ka-li.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioKalimat_kelinciBerlariCepat.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioKalimat_kelinciLompatTinggi.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioKalimat_kelinciMakanWortel.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_ber-la-ri.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_ce-pat.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_ke-lin-ci.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_lom-pat.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_ma-kan.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_ting-gi.mp3
src/assets/belajarMembaca/SubtemaKelinci/audioSukuKata_wor-tel.mp3
src/assets/belajarMembaca/SubtemaKelinci/gambar_kelinciBerlariCepat.jpg
src/assets/belajarMembaca/SubtemaKelinci/gambar_kelinciLompatTinggi.jpg
src/assets/belajarMembaca/SubtemaKelinci/gambar_kelinciMakanWortel.jpg
src/assets/belajarMembaca/SubtemaKucing/audioKalimat_kucingMainBola.mp3
src/assets/belajarMembaca/SubtemaKucing/audioKalimat_kucingMinumSusu.mp3
src/assets/belajarMembaca/SubtemaKucing/audioKalimat_kucingSukaIkan.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_bo-la.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_i-kan.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_ku-cing.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_mi-num.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_su-ka.mp3
src/assets/belajarMembaca/SubtemaKucing/audioSukuKata_su-su.mp3
src/assets/belajarMembaca/SubtemaKucing/gambar_kucingMainBola.jpg
src/assets/belajarMembaca/SubtemaKucing/gambar_kucingMinumSusu.jpg
src/assets/belajarMembaca/SubtemaKucing/gambar_kucingSukaIkan.jpg
src/assets/belajarMembaca/SubtemaPanda/audioKalimat_pandaMakanBambu.mp3
src/assets/belajarMembaca/SubtemaPanda/audioKalimat_pandaMatanyaHitam.mp3
src/assets/belajarMembaca/SubtemaPanda/audioKalimat_pandasedangTidur.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_bam-bu.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_hi-tam.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_ma-kan.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_ma-ta-nya.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_pan-da.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_se-dang.mp3
src/assets/belajarMembaca/SubtemaPanda/audioSukuKata_ti-dur.mp3
src/assets/belajarMembaca/SubtemaSemut/audioKalimat_semutCariMakan.mp3
src/assets/belajarMembaca/SubtemaSemut/audioKalimat_semutGotongRoyong.mp3
src/assets/belajarMembaca/SubtemaSemut/audioKalimat_semutJalanBerbaris.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_ber-ba-ris.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_ca-ri.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_go-tong.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_ja-lan.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_ma-ka-nan.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_ro-yong.mp3
src/assets/belajarMembaca/SubtemaSemut/audioSukuKata_se-mut.mp3
src/assets/belajarMembaca/SubtemaSemut/gambar_semutCariMakanan.jpg
src/assets/belajarMembaca/SubtemaSemut/gambar_semutGotongRoyong.jpg
src/assets/belajarMembaca/SubtemaSemut/gambar_semutJalanBerbaris.jpg
src/assets/belajarMembaca/SubtemaSinga/audioKalimat_keluargaSingaBahagia.mp3
src/assets/belajarMembaca/SubtemaSinga/audioKalimat_singaBerburuMangsa.mp3
src/assets/belajarMembaca/SubtemaSinga/audioKalimat_singaMengaumKeras.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_ba-ha-gi-a.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_ber-bu-ru.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_hu-tan.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_ke-lu-ar-ga.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_ke-ras.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_mang-sa.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_me-nga-um.mp3
src/assets/belajarMembaca/SubtemaSinga/audioSukuKata_si-nga.mp3
src/assets/belajarMembaca/SubtemaSinga/gambar_keluargaSingaBahagia.jpg
src/assets/belajarMembaca/SubtemaSinga/gambar_singaBerburuMangsa.jpg
src/assets/belajarMembaca/SubtemaSinga/gambar_singaMengaumKeras.jpg
src/assets/mengenalHuruf/A/audio_apel.mp3
src/assets/mengenalHuruf/A/audio_api.mp3
src/assets/mengenalHuruf/A/audio_awan.mp3
src/assets/mengenalHuruf/A/audio_ayam.mp3
src/assets/mengenalHuruf/A/audioHuruf_a.mp3
src/assets/mengenalHuruf/A/gambar_apel.jpg
src/assets/mengenalHuruf/A/gambar_api.jpg
src/assets/mengenalHuruf/A/gambar_awan.jpg
src/assets/mengenalHuruf/A/gambar_ayam.jpg
src/assets/mengenalHuruf/B/audio_balon.mp3
src/assets/mengenalHuruf/B/audio_bayi.mp3
src/assets/mengenalHuruf/B/audio_bunga.mp3
src/assets/mengenalHuruf/B/audio_burung.mp3
src/assets/mengenalHuruf/B/audioHuruf_b.mp3
src/assets/mengenalHuruf/B/gambar_balon.jpg
src/assets/mengenalHuruf/B/gambar_bayi.jpg
src/assets/mengenalHuruf/B/gambar_bunga.jpg
src/assets/mengenalHuruf/B/gambar_burung.jpg
src/assets/mengenalHuruf/C/audio_cacing.mp3
src/assets/mengenalHuruf/C/audio_cangkir.mp3
src/assets/mengenalHuruf/C/audio_celana.mp3
src/assets/mengenalHuruf/C/audio_ceri.mp3
src/assets/mengenalHuruf/C/audioHuruf_c.mp3
src/assets/mengenalHuruf/C/gambar_cacing.jpg
src/assets/mengenalHuruf/C/gambar_cangkir.jpg
src/assets/mengenalHuruf/C/gambar_celana.jpg
src/assets/mengenalHuruf/C/gambar_ceri.jpg
src/assets/mengenalHuruf/D/audio_dino.mp3
src/assets/mengenalHuruf/D/audio_dokter.mp3
src/assets/mengenalHuruf/D/audio_dompet.mp3
src/assets/mengenalHuruf/D/audio_durian.mp3
src/assets/mengenalHuruf/D/audioHuruf_d.mp3
src/assets/mengenalHuruf/D/gambar_dino.jpg
src/assets/mengenalHuruf/D/gambar_dokter.jpg
src/assets/mengenalHuruf/D/gambar_dompet.jpg
src/assets/mengenalHuruf/D/gambar_durian.jpg
src/assets/mengenalHuruf/E/audio_ekor.mp3
src/assets/mengenalHuruf/E/audio_elang.mp3
src/assets/mengenalHuruf/E/audio_ember.mp3
src/assets/mengenalHuruf/E/audio_es.mp3
src/assets/mengenalHuruf/E/audioHuruf_e.mp3
src/assets/mengenalHuruf/E/gambar_ekor.jpg
src/assets/mengenalHuruf/E/gambar_elang.jpg
src/assets/mengenalHuruf/E/gambar_ember.jpg
src/assets/mengenalHuruf/E/gambar_es.jpg
src/assets/mengenalHuruf/F/audio_fajar.mp3
src/assets/mengenalHuruf/F/audio_fanta.mp3
src/assets/mengenalHuruf/F/audio_fosil.mp3
src/assets/mengenalHuruf/F/audio_foto.mp3
src/assets/mengenalHuruf/F/audioHuruf_f.mp3
src/assets/mengenalHuruf/F/gambar_fajar.jpg
src/assets/mengenalHuruf/F/gambar_fanta.jpg
src/assets/mengenalHuruf/F/gambar_fosil.jpg
src/assets/mengenalHuruf/F/gambar_foto.jpg
src/assets/mengenalHuruf/G/audio_gajah.mp3
src/assets/mengenalHuruf/G/audio_gelang.mp3
src/assets/mengenalHuruf/G/audio_gigi.mp3
src/assets/mengenalHuruf/G/audio_gula.mp3
src/assets/mengenalHuruf/G/audioHuruf_g.mp3
src/assets/mengenalHuruf/G/gambar_gajah.jpg
src/assets/mengenalHuruf/G/gambar_gelang.jpg
src/assets/mengenalHuruf/G/gambar_gigi.jpg
src/assets/mengenalHuruf/G/gambar_gula.jpg
src/assets/mengenalHuruf/H/audio_hidung.mp3
src/assets/mengenalHuruf/H/audio_hitam.mp3
src/assets/mengenalHuruf/H/audio_hiu.mp3
src/assets/mengenalHuruf/H/audio_hujan.mp3
src/assets/mengenalHuruf/H/audioHuruf_h.mp3
src/assets/mengenalHuruf/H/gambar_hidung.jpg
src/assets/mengenalHuruf/H/gambar_hitam.jpg
src/assets/mengenalHuruf/H/gambar_hiu.jpg
src/assets/mengenalHuruf/H/gambar_hujan.jpg
src/assets/mengenalHuruf/I/audio_ibu.mp3
src/assets/mengenalHuruf/I/audio_iguana.mp3
src/assets/mengenalHuruf/I/audio_ikan.mp3
src/assets/mengenalHuruf/I/audio_ikat.mp3
src/assets/mengenalHuruf/I/audioHuruf_i.mp3
src/assets/mengenalHuruf/I/gambar_ibu.jpg
src/assets/mengenalHuruf/I/gambar_iguana.jpg
src/assets/mengenalHuruf/I/gambar_ikan.jpg
src/assets/mengenalHuruf/I/gambar_ikat.jpg
src/assets/mengenalHuruf/J/audio_jam.mp3
src/assets/mengenalHuruf/J/audio_jari.mp3
src/assets/mengenalHuruf/J/audio_jerapah.mp3
src/assets/mengenalHuruf/J/audio_jeruk.mp3
src/assets/mengenalHuruf/J/audioHuruf_j.mp3
src/assets/mengenalHuruf/J/gambar_jam.jpg
src/assets/mengenalHuruf/J/gambar_jari.jpg
src/assets/mengenalHuruf/J/gambar_jerapah.jpg
src/assets/mengenalHuruf/J/gambar_jeruk.jpg
src/assets/mengenalHuruf/K/audio_kasur.mp3
src/assets/mengenalHuruf/K/audio_kucing.mp3
src/assets/mengenalHuruf/K/audio_kue.mp3
src/assets/mengenalHuruf/K/audio_kupukupu.mp3
src/assets/mengenalHuruf/K/audioHuruf_k.mp3
src/assets/mengenalHuruf/K/gambar_kasur.jpg
src/assets/mengenalHuruf/K/gambar_kucing.jpg
src/assets/mengenalHuruf/K/gambar_kue.jpg
src/assets/mengenalHuruf/K/gambar_kupukupu.jpg
src/assets/mengenalHuruf/L/audio_lalat.mp3
src/assets/mengenalHuruf/L/audio_lampu.mp3
src/assets/mengenalHuruf/L/audio_lari.mp3
src/assets/mengenalHuruf/L/audio_lilin.mp3
src/assets/mengenalHuruf/L/audioHuruf_L.mp3
src/assets/mengenalHuruf/L/gambar_lalat.jpg
src/assets/mengenalHuruf/L/gambar_lampu.jpg
src/assets/mengenalHuruf/L/gambar_lari.jpg
src/assets/mengenalHuruf/L/gambar_lilin.jpg
src/assets/mengenalHuruf/M/audio_mangga.mp3
src/assets/mengenalHuruf/M/audio_mata.mp3
src/assets/mengenalHuruf/M/audio_meja.mp3
src/assets/mengenalHuruf/M/audio_merah.mp3
src/assets/mengenalHuruf/M/audioHuruf_m.mp3
src/assets/mengenalHuruf/M/gambar_mangga.jpg
src/assets/mengenalHuruf/M/gambar_mata.jpg
src/assets/mengenalHuruf/M/gambar_meja.jpg
src/assets/mengenalHuruf/M/gambar_merah.jpg
src/assets/mengenalHuruf/N/audio_naga.mp3
src/assets/mengenalHuruf/N/audio_nanas.mp3
src/assets/mengenalHuruf/N/audio_nasi.mp3
src/assets/mengenalHuruf/N/audio_nenek.mp3
src/assets/mengenalHuruf/N/audioHuruf_n.mp3
src/assets/mengenalHuruf/N/gambar_naga.jpg
src/assets/mengenalHuruf/N/gambar_nanas.jpg
src/assets/mengenalHuruf/N/gambar_nasi.jpg
src/assets/mengenalHuruf/N/gambar_nenek.jpg
src/assets/mengenalHuruf/O/audio_odol.mp3
src/assets/mengenalHuruf/O/audio_ombak.mp3
src/assets/mengenalHuruf/O/audio_orang.mp3
src/assets/mengenalHuruf/O/audio_otak.mp3
src/assets/mengenalHuruf/O/audioHuruf_o.mp3
src/assets/mengenalHuruf/O/gambar_odol.jpg
src/assets/mengenalHuruf/O/gambar_ombak.jpg
src/assets/mengenalHuruf/O/gambar_orang.jpg
src/assets/mengenalHuruf/O/gambar_otak.jpg
src/assets/mengenalHuruf/P/audio_panda.mp3
src/assets/mengenalHuruf/P/audio_pelangi.mp3
src/assets/mengenalHuruf/P/audio_piring.mp3
src/assets/mengenalHuruf/P/audio_pisang.mp3
src/assets/mengenalHuruf/P/audioHuruf_p.mp3
src/assets/mengenalHuruf/P/gambar_panda.jpg
src/assets/mengenalHuruf/P/gambar_pelangi.jpg
src/assets/mengenalHuruf/P/gambar_piring.jpg
src/assets/mengenalHuruf/P/gambar_pisang.jpg
src/assets/mengenalHuruf/Q/audio_qatar.mp3
src/assets/mengenalHuruf/Q/audio_quiz.mp3
src/assets/mengenalHuruf/Q/audio_quokka.mp3
src/assets/mengenalHuruf/Q/audio_quran.mp3
src/assets/mengenalHuruf/Q/audioHuruf_q.mp3
src/assets/mengenalHuruf/Q/gambar_qatar.jpg
src/assets/mengenalHuruf/Q/gambar_quiz.jpg
src/assets/mengenalHuruf/Q/gambar_quokka.jpg
src/assets/mengenalHuruf/Q/gambar_quran.jpg
src/assets/mengenalHuruf/R/audio_rambut.mp3
src/assets/mengenalHuruf/R/audio_roti.mp3
src/assets/mengenalHuruf/R/audio_rumah.mp3
src/assets/mengenalHuruf/R/audio_rusa.mp3
src/assets/mengenalHuruf/R/audioHuruf_r.mp3
src/assets/mengenalHuruf/R/gambar_rambut.jpg
src/assets/mengenalHuruf/R/gambar_roti.jpg
src/assets/mengenalHuruf/R/gambar_rumah.jpg
src/assets/mengenalHuruf/R/gambar_rusa.jpg
src/assets/mengenalHuruf/S/audio_salju.mp3
src/assets/mengenalHuruf/S/audio_sapi.mp3
src/assets/mengenalHuruf/S/audio_sendal.mp3
src/assets/mengenalHuruf/S/audio_sepeda.mp3
src/assets/mengenalHuruf/S/audioHuruf_s.mp3
src/assets/mengenalHuruf/S/gambar_salju.jpg
src/assets/mengenalHuruf/S/gambar_sandal.jpg
src/assets/mengenalHuruf/S/gambar_sapi.jpg
src/assets/mengenalHuruf/S/gambar_sepeda.jpg
src/assets/mengenalHuruf/T/audio_tangan.mp3
src/assets/mengenalHuruf/T/audio_tas.mp3
src/assets/mengenalHuruf/T/audio_telur.mp3
src/assets/mengenalHuruf/T/audio_tikus.mp3
src/assets/mengenalHuruf/T/audioHuruf_t.mp3
src/assets/mengenalHuruf/T/gambar_tangan.jpg
src/assets/mengenalHuruf/T/gambar_tas.jpg
src/assets/mengenalHuruf/T/gambar_telur.jpg
src/assets/mengenalHuruf/T/gambar_tikus.jpg
src/assets/mengenalHuruf/U/audio_ubi.mp3
src/assets/mengenalHuruf/U/audio_udang.mp3
src/assets/mengenalHuruf/U/audio_ular.mp3
src/assets/mengenalHuruf/U/audio_unta.mp3
src/assets/mengenalHuruf/U/audioHuruf_u.mp3
src/assets/mengenalHuruf/U/gambar_ubi.jpg
src/assets/mengenalHuruf/U/gambar_udang.jpg
src/assets/mengenalHuruf/U/gambar_ular.jpg
src/assets/mengenalHuruf/U/gambar_unta.jpg
src/assets/mengenalHuruf/V/audio_vas.mp3
src/assets/mengenalHuruf/V/audio_vitamin.mp3
src/assets/mengenalHuruf/V/audio_vokal.mp3
src/assets/mengenalHuruf/V/audio_vulkan.mp3
src/assets/mengenalHuruf/V/audioHuruf_V.mp3
src/assets/mengenalHuruf/V/gambar_vas.jpg
src/assets/mengenalHuruf/V/gambar_vitamin.jpg
src/assets/mengenalHuruf/V/gambar_vokal.jpg
src/assets/mengenalHuruf/V/gambar_vulkan.jpg
src/assets/mengenalHuruf/W/audio_wajah.mp3
src/assets/mengenalHuruf/W/audio_wajan.mp3
src/assets/mengenalHuruf/W/audio_wayang.mp3
src/assets/mengenalHuruf/W/audio_wortel.mp3
src/assets/mengenalHuruf/W/audioHuruf_w.mp3
src/assets/mengenalHuruf/W/gambar_wajah.jpg
src/assets/mengenalHuruf/W/gambar_wajan.jpg
src/assets/mengenalHuruf/W/gambar_wayang.jpg
src/assets/mengenalHuruf/W/gambar_wortel.jpg
src/assets/mengenalHuruf/X/audio_xenia.mp3
src/assets/mengenalHuruf/X/audio_xilofon.mp3
src/assets/mengenalHuruf/X/audio_xman.mp3
src/assets/mengenalHuruf/X/audio_xray.mp3
src/assets/mengenalHuruf/X/audioHuruf_x.mp3
src/assets/mengenalHuruf/X/gambar_xenia.jpg
src/assets/mengenalHuruf/X/gambar_xilofon.jpg
src/assets/mengenalHuruf/X/gambar_xman.jpg
src/assets/mengenalHuruf/X/gambar_xray.jpg
src/assets/mengenalHuruf/Y/audio_yak.mp3
src/assets/mengenalHuruf/Y/audio_yakiniku.mp3
src/assets/mengenalHuruf/Y/audio_yoghurt.mp3
src/assets/mengenalHuruf/Y/audio_yoyo.mp3
src/assets/mengenalHuruf/Y/audioHuruf_y.mp3
src/assets/mengenalHuruf/Y/gambar_yak.jpg
src/assets/mengenalHuruf/Y/gambar_yakiniku.jpg
src/assets/mengenalHuruf/Y/gambar_yoghurt.jpg
src/assets/mengenalHuruf/Y/gambar_yoyo.jpg
src/assets/mengenalHuruf/Z/audio_zaitun.mp3
src/assets/mengenalHuruf/Z/audio_zebra.mp3
src/assets/mengenalHuruf/Z/audio_zimbabwe.mp3
src/assets/mengenalHuruf/Z/audio_zupa.mp3
src/assets/mengenalHuruf/Z/audioHuruf_z.mp3
src/assets/mengenalHuruf/Z/gambar_zaitun.jpg
src/assets/mengenalHuruf/Z/gambar_zebra.jpg
src/assets/mengenalHuruf/Z/gambar_zimbabwe.jpg
src/assets/mengenalHuruf/Z/gambar_zupa.jpg
